// A z-index larger than any other used anywhere on the internet.
// YouTube, for example, uses "1999999999"
$largestPossibleZindex: 2147483643;

$zIndexDimmer: 0;
$zIndexSelection: 1;
$zIndexMask: 2;
$zIndexClose: 3;

// Reset all properties where page styles could affect our elements.
@mixin reset {
    // some sites set box-sizing: border-box on * (e.g. GitHub)
    box-sizing: content-box;

    margin: 0;
    padding: 0;
}

.pinSnapperOverlay {
    position: fixed;
    z-index: $largestPossibleZindex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    *  {
        @include reset();
    }

    .selection {
        // TODO: Integrate autoprefixer
        -webkit-border-image: url('../web_images/ants2.gif') 1 repeat repeat;

        position: fixed;
        z-index: $zIndexSelection;
        border-width: 1px;
        background-color: #fff;
    }

    .mask {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        cursor: crosshair;
        z-index: $zIndexMask;
    }

    .dimmer {
        background-color: rgba(0, 0, 0, 0.2);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: $zIndexDimmer;
    }

    .close {
        $file: '../web_images/close.png';

        position: fixed;
        top: 20px;
        right: 20px;
        width: image-width($file);
        height: image-height($file);
        z-index: $zIndexClose;
        cursor: pointer;
        background: #ededed url($file) center center no-repeat;
        padding: 9px;
        border-radius: 3px;

        box-shadow:  0 1px 4px rgba(0, 0, 0, 0.74);

        &:hover {
            $file: '../web_images/close_hover.png';

            background-color: #d62229;
            background-image: url($file);
        }
    }

    .hidden {
        visibility: hidden;
    }
}


