@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdanford\/Documents\/pinsnapper\/app\/styles\/upload\.scss}line{font-family:\000036}}
.pinSnapperOverlay {
  position: fixed;
  z-index: 999999999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdanford\/Documents\/pinsnapper\/app\/styles\/upload\.scss}line{font-family:\0000314}}
.pinSnapperOverlay * {
  box-sizing: content-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdanford\/Documents\/pinsnapper\/app\/styles\/upload\.scss}line{font-family:\0000319}}
.pinSnapperOverlay .selection {
  -webkit-border-image: url("../web_images/ants2.gif") 1 repeat repeat;
  position: fixed;
  z-index: 1;
  border-width: 1px;
  background-color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdanford\/Documents\/pinsnapper\/app\/styles\/upload\.scss}line{font-family:\0000329}}
.pinSnapperOverlay .mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: crosshair;
  z-index: 2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdanford\/Documents\/pinsnapper\/app\/styles\/upload\.scss}line{font-family:\0000339}}
.pinSnapperOverlay .dimmer {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdanford\/Documents\/pinsnapper\/app\/styles\/upload\.scss}line{font-family:\0000349}}
.pinSnapperOverlay .close {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 16px;
  height: 16px;
  z-index: 3;
  cursor: pointer;
  background: #ededed url("../web_images/close.png") center center no-repeat;
  padding: 9px;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.74);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdanford\/Documents\/pinsnapper\/app\/styles\/upload\.scss}line{font-family:\0000365}}
.pinSnapperOverlay .close:hover {
  background-color: #d62229;
  background-image: url("../web_images/close_hover.png");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cdanford\/Documents\/pinsnapper\/app\/styles\/upload\.scss}line{font-family:\0000373}}
.pinSnapperOverlay .hidden {
  visibility: hidden;
}
